@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&family=Playfair+Display:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0f2015;
  font-family: "Inter", sans-serif;
}

h1,
h2,
h3,
.serif {
  font-family: "Playfair Display", serif;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #061109;
}

::-webkit-scrollbar-thumb {
  background: #1a4228;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #265c3a;
}
